*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//by default 1rem=16px linxa 
html{
    font-size: 62.5%; /* yesle 1rem=10px banauxa*/
}

$bg-color: #10ac84;

@mixin flexpro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin commomcode {
    color: red;
    font-size: 5rem + 5rem;  //100px
    letter-spacing: .3rem;
    text-transform: capitalize;
}

.main_header {
    @include flexpro;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;

    h1 {
        @include commomcode;
        &:hover {
            color: white;
        }
        &::after{
            content: " Dipesh";
        }
    }

    p {
        @include commomcode;
        &:hover {
            color: blue;
        }
    }
}

