@import "mixin";
@import "var";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//by default 1rem=16px linxa 
html{
    font-size: 62.5%; /* yesle 1rem=10px banauxa*/
}


.main_header {
    @include flexpro;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;

    h1 {
        @include commomcode(0.8rem, uppercase);
        // letter-spacing: 5rem;
        &:hover {
            color: white;
        }
        &::after{
            content: " Dipesh";
        }
    }

    p {
        @include commomcode(0.3rem, capitalize);
        &:hover {
            color: blue;
        }
    }
}

